# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# GAGA
evos

/*.tar.gz
/tmp
/dist
/dist-extras
/julia
/usr
/usr-staging
/Make.user
/julia-*
/plots

.juliahistory
*.dat
*.exe
*.dll
*.do
*.o
*.obj
*.so
*.dylib
*.dSYM
*.jl.cov
*.jl.*.cov
*.jl.mem
*.ji
