[submodule "code/src/external/grgen"]
	path = code/src/external/grgen
	url = git@github.com:d9w/grgen.git
[submodule "code/src/external/gaga"]
	path = code/src/external/gaga
	url = git@github.com:d9w/gaga.git
